* {
    margin: 0;
    padding: 0;
}

/* body{
    overflow-x: hidden;
} */

/* navbar */

#logo-div img {
    width: 200px;
    margin: 10px;
}

#signin-btn {
    margin: 10px;
}


#navbar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
    flex-wrap: wrap;
    margin: 0px auto;
    flex-wrap: nowrap;

}

#signin-btn {
    width: 76px;
    height: 35px;
    color: white;
    background-color: rgb(229, 9, 20);
    border-radius: 5px;
    cursor: pointer;
}

#signin-btn:hover {
    background-color: rgb(133, 22, 27);
}

/* hero section */

#hero-sec::before {
    content: '';
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    background-image: url(./Assets/bg1.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: -1;
}

#hero-sec {
    height: 600px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
}

#hero-sec-child {
    max-width: 650px;
    text-align: center;
    color: white;
    margin: 0px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main-heading {
    font-size: 3rem;
    margin: 10px;
    line-height: 50px;

}

#para1 {
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 20px;
    margin-top: 30px;
}

#para2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    margin-top: 10px;
}

#get-started {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

#user-email {
    padding: 10px;
    font-size: 1.2rem;
    width: 300px;
    padding-top: 20px;
    background: transparent;
    color: white;
    border: 2px solid grey;
}

#get-started div {
    position: relative;
}

#get-started div::before {
    content: 'Email address';
    position: absolute;
    width: max-content;
    height: max-content;
    transition-property: all;
    transition-duration: 0.3s;
    font-size: 0.8rem;
    top: 3px;
    left: 10px;
    transform: none;
}

#get-started button {
    width: 200px;
    font-size: 1.2rem;
    background-color: rgb(229, 9, 20);
    position: relative;
    padding-right: 20px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    height: 55.6px;
}

#get-started button:hover {
    background-color: rgb(133, 22, 27);
}

#get-started button::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 13px;
    right: 15px;
    background-image: url(./Assets/right-arrow.svg);
    scale: 1.5;
}

/* trending now */

#Trending-now {
    background-color: rgb(0, 0, 0);
    color: white;
    position: relative;
}

#Trending-now h1 {
    z-index: 10;
    position: relative;
    width: 85vw;
    margin: 40px auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px auto;
    padding-top: 30px;
}

#trending-dropdown-container {
    z-index: 1;
    position: relative;
    display: flex;
    padding-inline: 30px;
    width: 85vw;
    margin: auto;
    gap: 10px;
}

#country-dropdown,
#content-dropdown {
    padding: 10px;
    font-size: 1rem;
    margin: 10px 0px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: transparent;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#country-dropdown:focus,
#content-dropdown:focus {
    outline: 2px solid white;
}

#country-dropdown option,
#content-dropdown option {
    color: black;
}

#trending-child {
    width: 85vw;
    margin: auto;
    gap: 50px;
    overflow-x: scroll;
    display: flex;
    padding-left: 20px;
}

.trending-img {
    height: 276px;
    width: 197px;
    background-color: blue;
    flex-shrink: 0;
    position: relative;
    margin: 30px 0px;
    transition-property: all;
    transition-duration: 0.3s;
    cursor: pointer;
}

.trending-img:hover {
    scale: 1.1;
}

.trending-img::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.trending-img::after {
    content: '';
    font-size: 6rem;
    position: absolute;
    left: -20px;
    bottom: 0px;
    background: transparent;
    color: black;
    text-align: center;
    align-content: center;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke: 2px white;
    text-shadow: 10px 5px 15px white;
}

#img1::after {
    content: '1';
}

#img2::after {
    content: '2';
}

#img3::after {
    content: '3';
}

#img4::after {
    content: '4';
}

#img5::after {
    content: '5';
}

#img6::after {
    content: '6';
}

#img7::after {
    content: '7';
}

#img8::after {
    content: '8';
}

#img9::after {
    content: '9';
}

#img10::after {
    content: '10';
}

#img1 {
    background-image: url(./Assets/trending1.webp);
}

#img2 {
    background-image: url(./Assets/trending2.webp);
}

#img3 {
    background-image: url(./Assets/trending3.webp);
}

#img4 {
    background-image: url(./Assets/trending4.webp);
}

#img5 {
    background-image: url(./Assets/trending5.webp);
}

#img6 {
    background-image: url(./Assets/trending6.webp);
}

#img7 {
    background-image: url(./Assets/trending7.webp);
}

#img8 {
    background-image: url(./Assets/trending8.webp);
}

#img9 {
    background-image: url(./Assets/trending9.webp);
}

#img10 {
    background-image: url(./Assets/trending10.webp);
}

#Trending-now::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 200px;
    left: 0px;
    top: -70px;
    background-image: linear-gradient(rgb(20, 30, 72) 1px, rgb(0, 0, 0) 20px);
    border-radius: 50%;
    scale: 1;
    border-top: 2px solid rgb(229, 9, 20);
}

/* more reason to join  */

#more-reason {
    background-color: rgb(0, 0, 0);
    color: white;

}

#more-reason>h1 {
    width: 85vw;
    margin: 0px auto;
    padding-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#more-reason-child {
    display: flex;
    width: 85vw;
    margin: 0px auto;
    padding: 10px;
    margin-top: 10px;
}

.reasons {
    width: 25%;
    height: max-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 25px;
    background-image: linear-gradient(145deg, rgb(25, 33, 69), rgb(32, 15, 25));
    margin-inline: 10px;
    height: 335px;
    position: relative;
    border-radius: 20px;
}


.reasons>h1 {
    font-size: 1.7rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 40px;
}

.reasons>p {
    color: rgb(184, 184, 192);
}

.reason-img-div img {
    width: 5vw;
}

.reason-img-div {
    height: max-content;
    width: max-content;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

/* FAQ section */

#FAQ {
    background-color: black;
    color: white;
}

#FAQ h1 {
    width: 85vw;
    margin: 40px auto;
    margin: 0px auto;
    padding-top: 30px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.QNA {
    width: 85vw;
    margin: 10px auto;
    font-size: 1.5rem;
    height: 55px;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition-property: height;
    transition-duration: 1s;
    cursor: pointer;
}

.QNA:hover{
    height: max-content;
}


.QNA p {
    margin: 30px 0px;
}

.q:hover {
    background-color: rgb(61, 61, 61);
}

.q,
.A {
    padding: 10px;
    background-color: rgb(45 45 45);
    border: 2px solid black;
}

.q {
    position: relative;
}

.q::before {
    bottom: 0px;
    scale: 0.8;
    content: '';
    position: absolute;
    width: 65px;
    height: 100%;
    right: 0px;
    background-image: url(./Assets/close.png);
    background-size: contain;
    background-position: center;
    transform: rotate(45deg);

}

.QNA:hover .q::before {
    transform: rotate(90deg);
}

#qna6 {
    margin-bottom: 0;
}


/* get started 2 */

#get-started2 {
    background-color: black;
    color: white;
    padding-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
}

#get-started2>p {
    width: 85vw;
    text-align: center;
    margin: 10px auto;
}

#get-started2-input {
    display: block;
    padding: 10px;
    font-size: 1.2rem;
    width: 50vw;
    padding-top: 20px;
    background: transparent;
    color: white;
    border: 2px solid grey;
    min-width: 200px;
    position: relative;
}

#get-started2-child div::before{
    content: 'Email address';
    width: max-content;
    height: max-content;
    position: absolute;
    color: white;
    font-size: 0.8rem;
    top: 4px;
    left: 10px;
    transform: none;
}

#get-started2-child div{
    position: relative;
    width: max-content;
    height: max-content;
}


#get-started2-child {
    width: 85vw;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    gap: 15px;
    min-width: 10px;

}



#get-started2-btn {
    width: 200px;
    font-size: 1.2rem;
    background-color: rgb(229, 9, 20);
    position: relative;
    padding-right: 20px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    height: 55px;
}

#get-started2-btn:hover {
    background-color: rgb(133, 22, 27);
}

#get-started2-btn::before{
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 13px;
    right: 15px;
    background-image: url(./Assets/right-arrow.svg);
    scale: 1.5;
}

/* footer */


footer {
    background-color: black;
    color: rgb(174, 174, 174);
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer>p {
    width: 85vw;
    margin: 30px auto;
    font-size: 1.1rem;
    cursor: pointer;
    text-decoration: underline;
}

#footer-child {
    display: flex;
    justify-content: space-between;
    width: 85vw;
    margin: 10px auto;
    text-decoration: underline;
}

.footer-elements{
    margin: 10px;
}

#footer-child li{
    list-style: none;
    margin: 10px 0px;
    cursor: pointer;
}

#language-container{
    width: 85vw;
    margin: auto;
}

#language{
    padding: 10px;
    font-size: 1rem;
    margin: 10px 0px;
    font-weight: bolder;
    background: transparent;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#NP{
    font-size: 1rem;
    width: 85vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

/* Media Quereys */

@media (max-width:950px){

    #more-reason-child{
        flex-direction: column;
    }

    .reasons{
        margin: 10px auto;
        width: 90%;
        height: 200px;
    }

    .reason-img-div img {
        width: 15vw;
    }

    #Trending-now::before{
        top: -40px;
    }

    #user-email{
        width: 70vw;
    }

    #logo-div img {
        width: 150px;
    }

    .QNA:hover{
        height: max-content;
    }
    
}

@media (max-width: 630px){

    #main-heading{
        font-size: 2rem;
    }

    #para1, #para2 {
        font-size: 1rem;
    }

    .QNA{
        font-size: 1.2rem;
        height: 50px;
    }



}

@media (max-width: 590px){

    #get-started2-child{
        flex-direction: column;
        align-items: center;
    }

    #get-started2-input{
        width: 80vw;
    }

    #footer-child{
        flex-direction: column;
    }

    .footer-elements{
        border-bottom: 2px solid white;
        border-radius: 10px;
        padding-left: 10px;
    }
}

@media (max-width: 380px){

    .QNA{
        font-size: 1rem;
        height: 42px;
    }

    .q::before{
        width: 55px;
    }
}